@tailwind base;
@tailwind components;
@tailwind utilities;

.App-full-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.question {
  font-size: 80px;
  color: #000;
  margin-bottom: 20px;
}

.answer-buttons {
  display: flex;
  width: 100vw;
  height: 100vw;
}

.answer-button {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 20px;
  cursor: pointer;
  border: none;
  color: white;
  outline: none;
  transition: background-color 0.2s;
}

.good {
  background-color: #999; /* Green */
}

.bad {
  background-color: #999; /* Red */
}

.answer-button:hover {
  opacity: 0.9;
}
