.responseNegative-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
  }
  
  .responseNegative-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .responseNegative-container img {
    max-width: 100%;
    height: auto;
  }